body{
    width:100%;

    background-image:url(../images/beach.jpg);
    background-size: cover;
}
/*@media (max-width: 1270px) { *//* это будет показано при разрешении монитора до 930 пикселей *//*
  .container {padding: 0;} *//* основное содержимое занимает всё пространство окна *//*
}*/
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100%;




  grid-template-areas:
    "backG slides"

}
.slides { grid-area: slides; }
.backG { grid-area: backG; }

.backG{
  border: medium dashed green;
  height: 90vh;
  width: 25vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;



}
.all_weather {
  display:block;
  border: medium dashed green;
  font-size: 1vw;
  line-height: 0.9em;
}
.all_weather h1 {font-size: 5vw}


/* Слайдер */
.slides {
    display: flex;
    justify-content: flex-start;
    left: 27.5%;*/
    border: medium dashed green;



}
.slides ul {
    list-style:none;
}

/* Кадры анимации #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    70% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    70% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:33vh;



    /* анимация css3 */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 50s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 50s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* Задержки css3 */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 30.0s;
    -moz-animation-delay: 30.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 45s;
    -moz-animation-delay: 45s;
}
.slides ul li img{
height:auto;


}

/* Кадры анимации #anim_titles */
@-webkit-keyframes anim_titles {
    0% {

        opacity:0;
    }
    6% {

        opacity:1;
    }
    24% {

        opacity:1;
    }
    30% {

        opacity:0;
    }
    70% {

        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {

        opacity:0;
    }
    6% {

        opacity:1;
    }
    24% {

        opacity:1;
    }
    30% {

        opacity:0;
    }
    70% {
         opacity:0;
    }
}

.slides ul li div{
    display:flex;
    justify-content: flex-start
    align-content: flex-start;
    position:absolute;
    top:-20vh;
    left: 7%;
    height: 20%;
    border: medium dashed green;
    font-size: 1vw;



    /* Анимация css3 */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 50s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 50s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
