body{
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic;

}

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 10px 10px;
  border: 1px;
  width: 100%;
  height: 100%;
  background-image:url(../images/gradBack.jpg);

  grid-template-areas:
    "backG content"
    "backG mesta";
}
.mesta { grid-area: mesta; }
.content { grid-area: content; }
.backG { grid-area: backG; }

.backG{
    background-image:url(../images/plyaj.jpg);
    height: 520px;
}
.all_weather {
    margin: 10px;
    height: 100%;
}

.mesta {
    background-image:url(../images/gradBack2.jpg);

}
.content {
    background-image:url(../images/gradBack2.jpg);

}

}