{% extends 'weather/base.html' %}

{% block content %}
<hr>

<div class="container">

    <div class="all_weather">
        {{right_now}} в городе {{ gorod }}
        <p>Рассвет в {{sunrise}} , закат в {{sunset}}
        <p>Температура воздуха = {{ tempVo }}
        <p>Ощущается как {{ feel}}
        <p>Давление = {{ press }} мм рт. ст.
        <p>Направление ветра  {{ windD }}
        <p>Скорость ветра = {{ windS }} М/c


    </div>

        <div class="content">
            {% for m in mesta %}
                {{m.content}}
            {%endfor%}

        </div>
        <div class="mesta">
            {% for m in mesta %}
                {{ m.title }}
            {%endfor%}
</div>

{% endblock %}
